body{
  background-color: #011627;
  font-family: Raleway;
  font-size: medium;
}

.encabezado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 10%;
  border-bottom: ridge gray; 
  margin-bottom: 10em;
}

.encabezado .links {
  display: flex;
  align-items: center;
}

.encabezado .links .nav-link:hover {
  transform: scale(1.15);
  text-decoration: underline;
}

.encabezado .logo {
  background-color: white;
  display: flex;
  align-items: center;
}

.logo_item {
  margin-right: 2em;
}

.titulo, .tit{
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 2em;
  font-weight: bold;
}

.col1{
  margin-right: 5em;
}
.texto_justif{
  text-align: justify;
  color: black;
}

.separacion{
  margin-bottom: 5em;
}

.comp{
  padding-top: 8.2em;
  height: auto;
}
